body{
  background-color: #1A1A1A;
}
h1{
  color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.parallax-container img {
  width: 100%;
  height: 130%;
  object-fit: cover;
  position: absolute;
  top: -15%;
  left: 0;
}